@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {

    margin:0;
    padding:0;

}


.Container-Navbar2 {

    width:100%;

    height:50px;

    /*background-color:#ff0000;*/
    /*background-color:#f7f5f0;*/

    background-color:#0c65cf;

    box-sizing:border-box;

    position:fixed;

    top:0;

    left:0;

    z-index:9999;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding-left:100px;

    padding-right:100px;

    font-family: "Roboto", sans-serif;

}



/* ============================
   CONTACT LEFT
============================ */


.Navbar2-left {


    display:flex;

    align-items:center;


    gap:15px;


}



.Navbar2-contact-item {


    display:flex;

    align-items:center;


    gap:8px;


    /*color:#2175d9;*/

    color:white;


    font-size:14px;


    font-weight:400;


    white-space:nowrap;


}



.Navbar2-contact-item i {


    font-size:12px;

    /*color:#2175d9;*/

    color:white;


}




.Navbar2-separator {


    width:1px;


    height:18px;


    background-color:white;


    opacity:0.5;


}



/* ============================
   SOCIAL RIGHT
============================ */


.Navbar2-right {


    display:flex;


    align-items:center;


    gap:18px;


}



.Navbar2-social {


    /*color:#2175d9;*/

    color:white;


    text-decoration:none;


    display:flex;


    align-items:center;

    justify-content:center;


}



.Navbar2-social i {


    font-size:17px;


    transition:0.3s ease;


}



.Navbar2-social:hover i {


    /*color:#2175d9;*/

    color:#0f1941;


    transform:scale(1.15);


}



/* ============================
   TABLET
============================ */


@media screen and (max-width:1225px) {



    .Container-Navbar2 {


        padding-left:40px;

        padding-right:40px;


    }



    .Navbar2-contact-item {


        font-size:9px;


    }



    .Navbar2-social i {


        font-size:15px;


    }



}



/* ============================
   MOBILE
============================ */


@media screen and (max-width:940px) {


    .Container-Navbar2 {


        display:none;


    }


}